<figure class="figure d-none d-lg-block"
     style="width:610px; padding:4px; margin:4px;">
<!-- d-none and d-lg-block means: hide on screens smaller than lg-->
<!-- lg is a bootstrap setting for the width of the screen -->
<!-- see: https://getbootstrap.com/docs/4.1/utilities/display/ -->
<!-- see also: https://getbootstrap.com/docs/4.0/content/figures/ -->
<img class="figure-img img-fluid rounded"
     src="{{ '/images/python-header-600w.png' | relative_url }}"
     data-toggle="tooltip" data-placement="top" 
     title="Python image"
     alt="Python image">

</figure>
